@media screen {
	table.tablelist table:not([class]) tr {
		background-color: transparent !important;
		border: none !important;
		margin: 0 !important;
	}

	table.tablelist table:not([class]) td {
		border: none !important;
	}

	.dark-mode table.tablelist td {
		border: 1px solid var(--dm-bg-lighter) !important;
	}
	.dark-mode table.tablelist tr {
		border: none !important;
	}

	.dark-mode table.tablelist table:not([class]) {
		border: none !important;
		background-color: var(--dm-td-emphasis-col) !important;
		margin: 0 !important;
		box-sizing: border-box;
		width: 100%;
	}

	.dark-mode table table td {
		border: none !important;
	}
}
