header {
	display: flex;
	flex-direction: column;
	height: max-content !important;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	overflow: hidden;
}

header #userStatusBar {
	padding: 20px;
	height: max-content !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--eth-blue) !important;
}

header #userStatusBar > div {
	float: none !important;
	display: block !important;
	position: inherit !important;
}

header #userStatusBar > div#appName a {
	display: flex !important;
	align-items: center;
	font-family: "Overpass", sans-serif !important;
	color: #fff;
}

header #userStatusBar > div#appName a::before {
	content: "";
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/ohmystudies_logo_black_128.png");
	background-size: contain;
	height: 30px;
	width: 30px;
	position: static;
	display: inline-block;
	margin-right: 15px;
}

header #userStatusBar > div#user span {
	text-transform: uppercase;
	font-weight: normal !important;
	font-family: "Overpass Mono", monospace !important;
	color: #fff;
}

header #userStatusBar > div#logout a {
	border-radius: var(--element-border-radius);
	background-color: var(--eth-blue);
	filter: brightness(1.3);
}

header #userStatusBar > div#logout a:hover {
	background-color: var(--eth-blue);
	filter: brightness(1.5);
	color: white;
}

header #headerLogo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: max-content !important;
	position: relative;
	padding: 0 20px 20px 20px;
	background-color: var(--eth-blue);
}

header #headerLogo > * {
	display: block;
	position: static;
	height: max-content !important;
}

header #headerLogo #metaNavi ul li a {
	font-family: "Overpass", sans-serif !important;
}

header #headerLogo #metaNavi ul li .highlight {
	background-color: unset;
}

header #headerLogo #metaNavi ul li .highlight a {
	color: inherit;
}
