.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 16px;
	width: 16px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.slider-container {
	float: right;
	display: flex;
	align-items: center;
}

.slider-container > span {
	margin: 0 10px;
	padding: 0 !important;
}

.slider-container > span:last-of-type {
	margin-right: 0;
}

.icon-light,
.icon-dark {
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-light {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/001-sun.png");
}

.icon-dark {
	background-image: url("chrome-extension://__MSG_@@extension_id__/img/icons/002-moon.png");
}

.dark-mode .icon-light,
.dark-mode .icon-dark {
	filter: invert();
}
