/* 
Dark theme 

Uses light theme as baseline

*/

@media screen {
	.dark-mode body::before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url("chrome-extension://__MSG_@@extension_id__/img/eth_tile_bg_complex_ultradark.png");
		filter: brightness(1.5);
	}

	.dark-mode div#statusnav,
	.dark-mode div.contentblock-1col,
	.dark-mode div.contentblock-2col,
	.dark-mode div.contentblock-3col,
	.dark-mode div.footerblock {
		background-color: var(--dm-bg);
		color: var(--dm-fg) !important;
		border: none;
	}

	.dark-mode div.contentblock-1col h2,
	.dark-mode div.contentblock-2col h2,
	.dark-mode div.contentblock-3col h2,
	.dark-mode div.contentblock-1col h4,
	.dark-mode div.contentblock-2col h4,
	.dark-mode div.contentblock-3col h4 {
		color: var(--dm-fg) !important;
	}

	.dark-mode table {
		background-color: var(--dm-bg) !important;
		color: var(--dm-fg) !important;
	}

	.dark-mode td,
	.dark-mode th {
		color: var(--dm-fg) !important;
		background-color: transparent !important;
	}

	/* TABLE COLORS */
	/* Grey tables */
	.dark-mode table.tablegrey,
	.dark-mode table.tablegrey td,
	.dark-mode table.tablegrey th,
	.dark-mode table.tablegrey table,
	.dark-mode table.tablelist-header-grey,
	.dark-mode table.tablelist-header-grey td,
	.dark-mode table.tablelist-header-grey th,
	.dark-mode table.tablelist-header-grey table,
	.dark-mode table.tablelist-footer-grey,
	.dark-mode table.tablelist-footer-grey td,
	.dark-mode table.tablelist-footer-grey th,
	.dark-mode table.tablelist-footer-grey table {
		background-color: var(--dm-bg-lighter) !important;
	}

	.dark-mode table.tablelist thead,
	.dark-mode table.tablelist th {
		background-color: var(--dm-bg-lighter) !important;
		border-top: 3px solid var(--table-alt-row-col) !important;
	}

	.dark-mode table.tablelist tr:nth-child(even) {
		background-color: var(--table-alt-row-col) !important;
	}

	/*
	 * Nested tables
	 * 
	 * Code repeated in light mode css file due to specificity problems
	 */
	.dark-mode table.tablelist table.table-nested,
	.dark-mode table.tablelist table.table-nested tr,
	.dark-mode table.tablelist table:not([class]),
	.dark-mode table.tablelist table:not([class]) tr {
		background-color: transparent !important;
	}

	/* TABLE BORDERS */
	/* Tables that don't require borders */
	.dark-mode table:not([class]),
	.dark-mode table:not([class])[border="0"],
	.dark-mode table.tablebox,
	.dark-mode table.tablegrey,
	.dark-mode table.tablelist-footer-grey,
	.dark-mode table.table-nested,
	.dark-mode table.table-nested[border="0"],
	.dark-mode table.table-nested tr,
	.dark-mode table.tablelist-header-grey,
	.dark-mode table[border="0"] {
		border: none !important;
	}

	.dark-mode table.tablelist {
		/* border: var(--dm-border-width) solid var(--dm-bg-lighter) !important; */
		border: none !important;
		border-bottom: var(--dm-border-width) solid var(--dm-bg-lighter) !important;
	}
	.dark-mode table.tablelist table {
		border: none !important;
	}
	.dark-mode tr {
		/* border-bottom: var(--dm-border-width) solid var(--dm-bg-lighter) !important; */
		border: none !important;
		border-bottom: var(--dm-border-width) solid var(--dm-bg-lighter) !important;
	}
	.dark-mode td,
	.dark-mode th {
		/* border-right: var(--dm-border-width) solid var(--dm-bg-lighter) !important; */
		border: none !important;
	}

	.dark-mode p,
	.dark-mode ul,
	.dark-mode li,
	.dark-mode ol {
		color: var(--dm-fg) !important;
	}

	.dark-mode #head > table,
	.dark-mode #head > table td,
	.dark-mode #head > table th {
		background-color: var(--eth-light-blue) !important;
		border: none !important;
	}

	.dark-mode div.footerline {
		background-color: var(--dm-bg) !important;
		color: var(--dm-fg) !important;
		border: none !important;
	}

	.dark-mode input[type="text"] {
		background-color: var(--dm-bg-lightest) !important;
		color: var(--dm-fg) !important;
	}

	.dark-mode input[type="submit"].submit,
	.dark-mode input[type="submit"]#org\.apache\.struts\.taglib\.html\.CANCEL,
	.dark-mode input[type="submit"]#deleteSelected,
	.dark-mode input[type="reset"].reset,
	.dark-mode input[type="button"].button,
	.dark-mode button {
		background-color: var(--eth-light-blue-darker) !important;
		font-weight: normal !important;
	}

	.dark-mode input[type="submit"].submit:hover,
	.dark-mode input[type="submit"]#org\.apache\.struts\.taglib\.html\.CANCEL,
	.dark-mode input[type="submit"]#deleteSelected:hover,
	.dark-mode input[type="reset"].reset:hover,
	.dark-mode input[type="button"].button:hover,
	.dark-mode button:hover {
		background-color: var(--eth-light-blue-darker) !important;
		filter: brightness(110%) !important;
	}

	.dark-mode select {
		color: var(--dm-fg);
		background-color: var(--dm-bg-lightest);
	}
	.dark-mode select:focus,
	.dark-mode select:hover {
		color: var(--dm-fg) !important;
		box-shadow: var(--dm-box-shadow) !important;
	}

	.dark-mode a {
		color: var(--eth-blue);
		transition: all 70ms;
	}

	.dark-mode a:hover {
		color: var(--eth-blue-lighter);
	}

	.dark-mode div.systemmessage {
		background-color: #0066cc57 !important;
		border: var(--dm-border-width) solid var(--eth-blue-darker) !important;
		box-shadow: var(--dm-box-shadow);
		border-radius: 5px;
	}

	.dark-mode div.box,
	.dark-mode div.box-border {
		background-color: var(--dm-bg-lighter) !important;
	}

	.dark-mode div.box-border {
		border: 1px solid var(--dm-bg-darker) !important;
		box-shadow: var(--dm-box-shadow);
		border-radius: 5px;
	}

	.dark-mode div.box > h3 {
		color: var(--dm-fg) !important;
	}

	.dark-mode div.box,
	.dark-mode div.systemmessage {
		padding: 10px !important;
	}

	.dark-mode div.shibboleth {
		background-color: var(--dm-warning) !important;
		border: var(--dm-border-width) solid var(--dm-warning-darker) !important;
		border-radius: var(--dm-border-radius);
		box-shadow: var(--dm-box-shadow);
		color: var(--dm-bg-darker) !important;
	}

	.dark-mode div.shibboleth p b {
		color: var(--dm-bg) !important;
	}

	.dark-mode p.kommentar-le {
		color: var(--dm-info) !important;
		border-left: 1px solid var(--dm-info) !important;
	}

	.dark-mode table.tablelist-navigation td {
		color: var(--dm-fg) !important;
		background-color: var(--dm-bg) !important;
	}

	.dark-mode table.tablelist-navigation td[align],
	.dark-mode table.tablelist-navigation td.aktiv {
		background-color: var(--dm-bg-lighter) !important;
		padding: 2px !important;
	}

	.dark-mode #liste,
	.dark-mode #tabelle {
		color: var(--dm-fg) !important;
		background-color: var(--dm-bg) !important;
		border-radius: 0 !important;
		width: 100%;
	}

	.dark-mode td.td-level img {
		filter: invert();
	}

	.dark-mode div#userStatusBar {
		background-color: var(--dm-bg);
	}

	.dark-mode div#userStatusBar #appName a,
	.dark-mode div#userStatusBar #user span {
		color: #fff;
	}

	.dark-mode div#statusnav > a,
	.dark-mode div#statusnav > span {
		background-color: var(--dm-bg-lightest);
		color: #fff;
		box-shadow: 0 0 7px #fff7;
	}

	.dark-mode div#statusnav > a {
		margin-right: 20px;
	}

	.dark-mode div#statusnav > a::after {
		border-color: transparent transparent transparent #fff;
	}

	.dark-mode div#statusnav > a:hover {
		filter: brightness(1.3);
	}
}
