@media screen {
	* {
		font-family: "Roboto", "Montserrat", sans-serif !important;
		font-size: 12pt !important;
	}

	html {
		padding: 0 !important;
		margin: 0 !important;
	}

	body {
		background: url("chrome-extension://__MSG_@@extension_id__/img/eth_tile_bg_complex.png");
		background-size: 80%;
		background-position-y: -10px;
		height: calc(100% - 20px) !important;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-family: "Overpass", Helvetica, sans-serif !important;
		font-weight: bold !important;
	}

	h2 {
		font-size: 20pt !important;
	}

	h4 {
		font-size: 16pt !important;
	}

	pre,
	code {
		font-family: "Overpass Mono", "Roboto Mono", "Fira Code", "Cascadia", "Consolas", monospace !important;
	}

	div#head {
		margin-top: 0;
	}

	header {
		border-top-left-radius: var(--element-border-radius);
		border-top-right-radius: var(--element-border-radius);
		overflow: hidden;
		margin: auto;
		margin-top: var(--container-margin-vertical);
		width: calc(100% - var(--container-margin-horizontal));
	}

	div#userStatusBar {
		background-color: #fff;
	}

	div#userStatusBar #appName a,
	div#userStatusBar #user span {
		color: #161616;
	}

	div#head,
	div#servicenav,
	div#statusnav,
	div.footerblock {
		border-radius: var(--container-corners);
		padding: 10px !important;
		margin: var(--container-margin);
		width: calc(100% - var(--container-margin-horizontal) * 2);
		transition: background var(--background-transition-duration);
		padding-bottom: 15px !important;
	}

	div.footerblock {
		background-color: var(--eth-blue) !important;
	}

	div#servicenav {
		margin-top: 0;
		margin-bottom: 0;
		border-radius: 0;
		box-shadow: none;
		transition: background var(--background-transition-duration);
	}
	div#head {
		margin-bottom: 0;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		transition: background var(--background-transition-duration);
	}
	div#statusnav {
		margin-top: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		transition: background var(--background-transition-duration);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding: 20px !important;
		box-sizing: border-box;
		width: calc(100% - var(--container-margin-horizontal));
	}

	div.slider-container {
		margin-left: auto;
	}

	div#statusnav {
		background-color: #fff;
		transition: background var(--background-transition-duration);
	}

	div.footerblock {
		width: calc(100% - 40px) !important;
		z-index: 100 !important;
		background-color: #fff;
		margin: var(--container-margin);
		transition: background var(--background-transition-duration);
	}

	div.contentblock-3col,
	div.contentblock-2col,
	div.contentblock-1col {
		max-width: var(--medium-width);
		background-color: #fff;
		margin: 20px auto !important;
		margin-bottom: 80px !important;
		padding: 40px !important;
		padding-top: 20px !important;
		border-radius: var(--container-corners);
		box-shadow: var(--container-shadow);
		position: relative;
		transition: background var(--background-transition-duration);
	}

	div.contentblock-1col::before,
	div.contentblock-2col::before,
	div.contentblock-3col::before {
		content: "";
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		height: 22px;
		background-color: var(--window-frame-col);
		border-top-right-radius: var(--element-border-radius);
		border-top-left-radius: var(--element-border-radius);
	}

	input[type="submit"].submit,
	input[type="submit"]#org\.apache\.struts\.taglib\.html\.CANCEL,
	input[type="submit"]#deleteSelected,
	input[type="reset"].reset,
	input[type="button"].button,
	button {
		border: none;
		border-radius: var(--element-border-radius);
		margin: 5px !important;
		padding: 7px 15px !important;
		box-shadow: 0 0 10px #0002;
		transition: all 70ms !important;
		background-color: #7abce9 !important;
		font-family: "Roboto", Helvetica, sans-serif !important;
		font-weight: bold !important;
		color: #fff !important;
	}

	input[type="submit"].submit:hover,
	input[type="submit"]#org\.apache\.struts\.taglib\.html\.CANCEL,
	input[type="submit"]#deleteSelected:hover,
	input[type="reset"].reset:hover,
	input[type="button"].button:hover,
	button:hover {
		background-color: #85bee4 !important;
		color: #fff !important;
		box-shadow: 0 0 10px #088be293 !important;
	}

	input[type="text"] {
		padding: 5px;
		border: 1px solid var(--element-border-col) !important;
		border-radius: var(--element-border-radius);
		box-shadow: 0 0 10px #0002;
		margin: 5px;
		transition: all 70ms !important;
	}
	input[type="text"]:hover {
		border-color: var(--eth-light-blue) !important;
		box-shadow: 0 0 10px #088be293 !important;
	}

	select {
		padding: 5px;
		border: 1px solid var(--element-border-col);
		border-radius: var(--element-border-radius);
		box-shadow: 0 0 10px #0002;
		margin: 5px 0;
		transition: all 70ms !important;
	}
	select:hover {
		border-color: var(--eth-light-blue);
		box-shadow: 0 0 10px #088be293 !important;
		cursor: pointer;
	}

	table.tablelist tr:nth-child(even) {
		background-color: var(--table-alt-row-col) !important;
	}

	table.table-nested td,
	table.table-nested th {
		width: max-content !important;
	}

	/*
	 * Nested tables 
	 * 
	 * Code repeated in dark mode css file due to specificity problems
	 */
	table.tablelist table.table-nested,
	table.tablelist table.table-nested tr,
	table.tablelist table:not([class]),
	table.tablelist table:not([class]) tr {
		background-color: transparent !important;
	}

	/* Fixes some float elements being outside the container */
	.contentblock-3col::before,
	.contentblock-3col::after {
		content: " "; /* 1 */
		display: table; /* 2 */
	}

	.contentblock-3col::after {
		clear: both;
	}

	html::before {
		content: "";
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: #1f232b;
		z-index: 1000;
		pointer-events: none;
		opacity: 1;
		transition: opacity 200ms;
	}

	html.loaded::before {
		opacity: 0;
	}

	html.fodpo-light::before {
		display: none;
	}

	div#statusnav > a,
	div#statusnav > span {
		display: inline-block;
		position: relative;
		padding: 3px 15px !important;
		background-image: none !important;
		background-color: var(--eth-blue-lightest);
		color: var(--eth-blue);
		border-radius: 100px;
		font-size: 13px !important;
		font-family: "Overpass", sans-serif !important;
		transition: all 100ms;
		font-weight: lighter;
		text-transform: uppercase;
		box-shadow: 0 0 10px #06456e49;
	}

	div#statusnav > a {
		margin-right: 20px;
	}

	div#statusnav > a::after {
		content: "";
		position: absolute;
		right: -15px;
		top: 50%;
		transform: translateY(-50%);
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 5px 0 5px 10px;
		border-color: transparent transparent transparent var(--eth-blue);
	}

	div#statusnav > a:hover {
		text-decoration: none;
		filter: brightness(1.06);
	}
}

@media screen and (max-width: 1200px) {
	div.contentblock-3col,
	div.contentblock-2col,
	div.contentblock-1col {
		width: 100%;
		border-radius: 0px !important;
		margin: 0 auto !important;
		box-shadow: none;
	}

	div#head,
	div#servicenav,
	div#statusnav,
	div.footerblock {
		margin: 0 !important;
		border-radius: 0;
	}
}
