/* General variables, accessible anywhere */
:root {
	--medium-width: 1000px;
	--container-shadow: 0 0 30px #0003;
	--container-corners: 5px;
	--container-margin-horizontal: 20px;
	--container-margin-vertical: 10px;
	--container-margin: var(--container-margin-horizontal) var(--container-margin-vertical) !important;
	--element-border-radius: 3px !important;
	--eth-light-blue: #52ade7;
	--eth-light-blue-darker: #0073bb;
	--eth-blue: #0066cc;
	--eth-blue-darker: #022d57;
	--eth-blue-lighter: #1f8cfa;
	--eth-blue-lightest: #c4e2f5;
	--window-frame-col: #e3e9ec;
	--element-border-col: #d2d7db;
	--table-alt-row-col: #fafafa;
	--background-transition-duration: 100ms;
}

/* Dark mode */

.dark-mode {
	--dm-box-shadow: 0 0 15px #ffffff14;
	--dm-bg: #1f232b;
	--dm-bg-darker: #111318;
	--dm-bg-lighter: #2e343f;
	--dm-bg-lightest: #3c4352;
	--dm-fg: #e5e6f0;
	--dm-border-width: 2px;
	--dm-border-radius: 5px;
	--dm-warning: #f3cb76;
	--dm-warning-darker: #da9e1d;
	--dm-danger: #eb7488;
	--dm-info: #e2b190;
	--window-frame-col: #181b20;
	--element-border-col: #1e222b;
	--table-alt-row-col: #232730;
	--dm-td-emphasis-col: #465066;
}
